---
export const prerender = false

import { player_ready, player } from "../js/mpv.js"

await player_ready

await player.loadfile("https://195.150.20.243/RMFMAXXX48")
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Radio WEB</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  * {
	all: unset;
  }
</style>
