---
export const prerender = false

import { play } from "../js/mpv.js"

play("https://manifest.googlevideo.com/api/manifest/hls_playlist/expire/1775172016/ei/UKXOaYnULsKF0u8P0qWK8AQ/ip/185.93.240.161/id/jfKfPfyJRdk.4/itag/96/sou rce/yt_live_broadcast/requiressl/yes/ratebypass/yes/live/1/sgoap/gir%3Dyes%3Bitag%3D140/sgovp/gir%3Dyes%3Bitag%3D137/rqh/1/hls_chunk_host/rr1---sn-x2p m-f5fz.googlevideo.com/xpc/EgVo2aDSNQ%3D%3D/playlist_duration/30/manifest_duration/30/bui/AUUZDGKegvk1RdpbYdoW26-7ZmBD23HuyXVmO63R6p-zsMAZH9m02wNyYn7C pMvvqhL73wGGtIE7WQlx/spc/jlWavVQh_3G3AbVxE82SvsAIwxXyjwNCjhnjzUw2YXWRVBvCMk369P9pS1EWpfx1/vprv/1/reg/0/playlist_type/DVR/initcwndbps/1837500/met/17751 50417,/mh/rr/mm/44/mn/sn-x2pm-f5fz/ms/lva/mv/m/mvi/1/pl/24/rms/lva,lva/dover/11/pacing/0/keepalive/yes/fexp/51565115,51565682/mt/1775150191/sparams/ex pire,ei,ip,id,itag,source,requiressl,ratebypass,live,sgoap,sgovp,rqh,xpc,playlist_duration,manifest_duration,bui,spc,vprv,reg,playlist_type/sig/AHEqNM 4wRgIhAMNE5s8rCZu1bXiG88o78wlb0b6vVwB6Q3jxI7I83l25AiEAoJEyOxHMw45fZKncq51w0klYt-P5Zx12fKBbdNG-7UI%3D/lsparams/hls_chunk_host,initcwndbps,met,mh,mm,mn, ms,mv,mvi,pl,rms/lsig/APaTxxMwRAIgIA5TpDMbCt8nq5x1_rQ3O07vyEdz533xacfNNtBf1yICIBkXQPRNwTKmacXaWIt9rZr3Nz2oRIQkeEWNVdzU-cnr/playlist/index.m3u8")
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Radio WEB</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  * {
	all: unset;
  }
</style>
